html {
	width: 100%;
	height: 100%;
}

body {
	position: absolute;
	margin: 0;
	padding: 0;
	overflow: hidden;
}

.asset {
	position: absolute;
  background-repeat: no-repeat;
  background-size: contain;
  overflow: hidden;
}

.shadowed {
  filter: "progid:DXImageTransform.Microsoft.Dropshadow(OffX=12, OffY=12,Color='#444')";
  filter: url(#drop-shadow);
  -webkit-filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
  filter: drop-shadow(0px 0px 5px rgba(0,0,0,0.5));
}

.threeD {
  -webkit-transform: translateZ(1px);
  transform: translateZ(1px);
  -webkit-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.hidden {
  opacity: 0;
  display: none;
  visibility: hidden;
}
